<!-- Here goes the majority of the handlebars code -->
<div class="container">
  <div class= "row">
    <div class="col-xm-12 text-center" id="top-bar">
      <h1>Super duper Delicious Burgers...DEVOURE IT!</h1>
    </div>
  </div> <!-- end of first row--> 
  <div class="col-xs text-center" class="task">
    <div class="row">
      {{#each burger_data}}
      {{#unless this.devoured}}
      <div style="display:flex">
        <div class="col-xm text-center">
          <div class="burger">
            {{this.burger_name}}
          </div>
        </div>
        <div class="col-xm text-center">
          <form method="POST" action="/burgers/update?_method=PUT" class="button-size">
            <input type="hidden" name="burger_id" type="text" value={{this.id}}>
            <br>
            <button type="submit" class="btn btn-default submit">DEVOUR IT!</button>
          </form>
        </div>
      </div>
      {{/unless}}
      {{/each}}
    </div>
    <div style="flex-wrap:wrap" class="container">
      <div style="display:flex" class="col-xm text-center" class="task">
        {{#each burger_data}}
          {{#if this.devoured}}
        <div style="display:flex" class="devouredContainers">
          <div class="devouredBurger">
            {{this.burger_name}}
          </div>
        </div>
        {{/if}}
        {{/each}}  
      </div>
    </div>
  </div>  
<div class="container">
  <div class="row">
    <div class="col-xm-12 text-center enter_section">
      <form action="/burgers/add" method="POST">
        <input type="text" name="burger_name" class="form-control" value="" id="enter_text">
        <button type="submit" class="btn btn-primary" id="text-enter-button">ADD IT</button>   
      </form>
      <h3>Enter in "My way" burger you would like to eat</h3>
    </div>
  </div>
</div>






